* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --webkit-font-smoothing: antialiased;
  --moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}


body {
  background-color: #f9f4fb;
  ;
}

header {
  text-align: center;
  animation: fadeIn 1s ease-out forwards;
  animation-delay: 0.2s;
  opacity: 0
}

.image-logo img {
  width: 44rem;
}

header h1 {
  color: #b52184;
  font-size: 3.9rem;
  font-weight: 900;
}

header p {
  font-size:2.5rem;
  color: #312d64;
}

.image-arrow img {
  margin-top: 3.5rem;
  width: 6.5rem;
}

.image-arrow img:hover {
    cursor: pointer;
    transform: scaleX(0.9)
}

main {
  background-color: #312d64;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 9.3rem;
  position: relative;

  animation: fadeIn 1s ease-out forwards;
  animation-delay: 0.2s;
  opacity: 0
}

.main-boxes {
  margin-top: 4.5rem;
}

.box1 {
  width: 34.5rem;
  background-color: #ffffff;
  border-radius: 1.6rem;
  color: #312d64;
  padding: 2.5rem;
  margin: auto;
}

.box1 h2 {
  color: #b52184;
  font-size: 3rem;
  line-height: 6.5rem;
  font-weight: bold;
}

.box1 img {
  width: 9rem;
  margin-bottom: 1rem;
}

.box1 p {
  font-size: 1.6rem;
}

.box1:hover {
  transform: scaleX(0.9);
  cursor: pointer;
  transition: 0.7s;
  background:rgb(210, 210, 210);
}

/*FIM DO BOX1*/

.box2 {
  width: 34.5rem;
  background-color: #ffffff;
  border-radius: 1.6rem;
  color: #312d64;
  padding: 2.5rem;
  margin: 4rem;
}

.box2 h2 {
  color: #b52184;
  font-size: 3rem;
  line-height: 6.5rem;
  font-weight: bold;
}

.box2 img {
  width: 9rem;
  margin-bottom: 1rem;
}

.box2 p {
  font-size: 1.6rem;
}

.box2:hover {
  transform: scaleX(0.9);
  cursor: pointer;
  transition: 0.7s;
  background:rgb(210, 210, 210);
}

/*FIM DO BOX2*/

.box3 {
  width: 34.5rem;
  background-color: #ffffff;
  border-radius: 1.6rem;
  color: #312d64;
  padding: 2.5rem;
  margin: 4.0rem;
}

.box3 h2 {
  color: #b52184;
  font-size: 3rem;
  line-height: 6.5rem;
  font-weight: bold;
}

.box3 img {
  width: 9rem;
  margin-bottom: 1rem;
}

.box3 p {
  font-size: 1.6rem;
}

.box3:hover {
  transform: scaleX(0.9);
  cursor: pointer;
  transition: 0.7s;
  background:rgb(210, 210, 210);
}

/*FIM DO BOX3*/

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 7.8rem;

  animation: fadeIn 1s ease-out forwards;
  animation-delay: 0.2s;
  opacity: 0
}

form h2 {
  text-align: center;
  color: #b52184;
  font-size: 3rem;
  margin-bottom: 4.3rem;
}

form #name {
  width: 34.8rem;
  height: 4.8rem;
  border-radius: 1.6rem;
}

form #email {
  width: 34.8rem;
  height: 4.8rem;
  border-radius: 1.6rem;
}

#email, #name::placeholder {
  padding-left: 4rem;
  
}

form #textarea {
  width: 34.8rem;
  height: 12.6rem;
  border-radius: 1.6rem;
}

#name {
  background-image: url(./assets/logoform.png) ;
  background-repeat: no-repeat;
  background-size: 2.4rem 2.4rem;
  background-position: 0.8rem;
}
  


#email {
  background-image: url(./assets/atsign.png);
  background-repeat: no-repeat;
  background-size: 2.4rem 2.4rem ;
  background-position: 0.8rem;
}
 



button {
  width: 15rem;
  height: 4.5rem;
  border-radius: 1.6rem;
  background: linear-gradient(96.21deg, #343193 0%, #302c63 99.68%);
  color: #ffffff;
  margin-top: 5rem;
}

button:hover {
  background: brown;
  transition: 0.9s;
  cursor: pointer;
}

footer {
  animation: fadeIn 1s ease-out forwards;
  animation-delay: 0.2s;
  opacity: 0
}

footer h4{
  text-align: center;
  margin-top: 19rem;
  font-size: 1.7rem;
  margin-bottom: 5rem;
  color: rgb(114, 21, 168);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

footer h4:hover {
  translate: scaleY(0.1);
  cursor: pointer;
  color: rgb(224, 72, 72);
  transition: 1s;
}




@media (min-width: 1440px) {
 
/*DESTKOP*/
  header {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem 5rem 5rem;
    animation: fadeIn 1s ease-out forwards;
    animation-delay: 0s;
    opacity: 0;
  }

  .title {
    margin-top: 15rem;
    order: 1;
    padding-right: 55rem;
  }

 .image-arrow img {
    margin: 0;
    margin-top: 35rem;
  }

  .image-logo {
    order: 2;
  }

  .image-logo img {
    margin-right: 10rem;
  }

  .main-boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6rem;
    padding: 6.4rem 11.1rem 8rem;
    animation: fadeIn 1s ease-out forwards;
    animation-delay: 0.5s;
    opacity: 0;
  }

  form {
    animation: fadeIn 1s ease-out forwards;
    animation-delay: 1s;
    opacity: 0;
  }

  footer {
    animation: fadeIn 1s ease-out forwards;
    animation-delay: 1.5s;
    opacity: 0;
  }

  header, main, .main-boxes, form, footer {
    animation: fadeIn 1s ease-out forwards;
    opacity: 0; /* Start hidden */
  }
  
 



}


@keyframes fadeIn {
  /*Animations*/
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}